<div class="button">
  <%= link_to "Edit", "#{task_path(@task)}/edit"%>
</div>

<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<% if @task.completed%>
      <p class="completed">☑ This task is completed</p>
    <% else %>
      <p class="Incomplete">□ This task is incomplete</p>
<% end %>

<%= link_to "Back to List", tasks_path %>
<%= link_to "Delete", task_path(@task), method: :delete %>
